<nav class="navbar navbar-expand-md navbar-light bg-dark sticky-top py-3">
  <a class="navbar-brand" href="#"><img src="images/logoBlanco.png" height="50" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="index.html">Inicio</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="talleres.html">Talleres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="malones.html">Malones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="viajes.html">Viajes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contacto.html">Contacto</a>
      </li>
    </ul>
  </div>
</nav>
