<form action="<%= '/pages/save_page' %>" method="GET">
  <input type="text" name="title" value="">
  <input type="text" name="upv" value="">
  <textarea name="content" rows="8" cols="80"></textarea>
  <input type="submit" value="Enviar">
</form>
