<!-- Info - Imagen -->
<div class="container-fluid contenedor-titulo py-4 mb-4">
    <div class="col-lg-10 mx-auto">
      <div class="row align-items-center mx-auto">
        <div class="col-lg-12">
          <h3 class="pt-4">
            <b><i class="fas fa-plane color-icono mr-2"></i> Viajes Patiperros</b></h3>
           <p>Viajes patiperros para conocer lugares nuevos y disfrutar.</p>
        </div>
      </div>
    </div>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col-lg-12">
      <div class="row justify-content-center">
        <% @events.each do |event|%>
        <% if event.category == 'Viajes' %>
        <div class="card m-3" style="width: 18rem;">
          <img class="card-img-top" src="<%= asset_path event.image %>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= event.title%></h5>
            <label class="lbl-ubicacion"><i class="fas fa-map-marker-alt mr-2"></i>Santiago Centro</label>
            <p class="card-text"><%= event.content %></p>
            <%= link_to 'Ver más información', event, class: 'btn btn-default' %>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
